@charset "utf-8";
.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
    overflow-x: hidden;
}
.wrapper > article {
    background: #eee;
    padding: 1em;
}
.wrapper > article:nth-child(odd) { /* o ">" delimita o conteúdo que vai receber a configuração, ou seja, somente os artigos dentro do wrapper recebe a configuração */
    background: aquamarine;
}
