@charset "utf-8";
*{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    vertical-align: middle;
}
body{
    text-align: center;
}
.teste{
    border: 1px solid rgb(233, 86, 1);
    text-align: center;
}
h4{
    color: brown;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgb(53, 17, 0);
}

.color01{color: rgb(102, 2, 2);}
.color02{color: rgb(134, 3, 3);}
.color03{color: rgb(153, 3, 3);}
.color04{color: rgb(212, 3, 3);}
.color05{color: rgb(243, 3, 3);}
.color06{color: rgb(255, 44, 44);}

span{
    font-size: small;
    font-style: italic;
}

h2{
    color: rgb(248, 73, 73);
}
